.option-page {
  .ant-form {
    margin-top: 20px;
    padding: 0 20px;
  }

  .ant-form-item {
    margin-bottom: 6px;

    label {
      font-size: 16px;
    }

    .ant-form-item-label label {
      font-weight: bold;
      font-size: 18px;
    }
  }

  .fix-btn {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 20px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

    .button {
      display: block;
      width: 80%;
    }
  }
}
